// app global css in SCSS form
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
body { font-family: 'Noto Sans TC'!important;}

.q-page {
    width: 100%;
}
.q-page .row {
    margin: 0px !important;
}
.form {
    width: 100%;
}

.background {
    background: linear-gradient(90deg, #b8b8b8, white 50%, #b8b8b8);
    display: flex;
    justify-content: flex-start;
}
