// app global css in SCSS form
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
body { font-family: 'Noto Sans TC'!important;}

.q-page {
    width: 100%;
}
.q-page .row {
    margin: 0px !important;
}
.form {
    width: 100%;
}

